{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <h3 style="text-align: center">Our Mission</h3>
        <div class="container" style="text-align: center">
            Our mission is to provide an easy way to keep track of your favorite MLB team and all your baseball needs.
        </div>
        <br><hr><br>
        <h3 style="text-align: center">About Us</h3>
        <div class="container">
            This web application was designed by Sheldon Smith, Jason Wu, and Zachary Scherer.  The baseball database
            data and statistics were compiled by <a href="http://www.seanlahman.com/baseball-archive/statistics/" target="_blank">
            SeanLahman.com</a>.  The specific database however was designed and created by Sheldon, Jason, and Zachary.
            This web application was designed for the course CSI 3336 Database Design & Application at Baylor University
            in Fall 2021.
        </div><br>
    </div>
{% endblock content %}