{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <!-- Display the current account information for the current user -->
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">
              {{ current_user.email }} <br>
              Favorite Team: {{ current_user.fav_team }}
          </p>
        </div>
      </div>
        <!-- The form in order for the user to update their account information -->
        <form method="POST" action="" class="needs-validation">
        {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {{ form.username(class="form-control form-control-lg") }}
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    <br>
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {{ form.email(class="form-control form-control-lg") }}
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    <br>
                    </div>
                    <div class="form-group">
                        {{ form.fav_team.label(class="form-control-label") }}<br>
                        {{ form.fav_team(size=4) }}<br>
                        {% for error in form.fav_team.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    <br>
                    </div>
            </fieldset>
            <hr>
            <!-- The button in order to submit the new account information -->
            <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
        </form>
    </div>
{% endblock %}