{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <h3 style="text-align: center">Career Postseason Stats for {{ current_user.fav_player }}</h3><br>

        {% if appearances[0][1]/appearances[0][2] > 20 %}
            <h6>Career Postseason Batting Stats</h6>
            <table class="table table-striped">
              <thead><tr>
                  <th scope="col">Year</th>
                  <th scope="col">Team</th>
                  <th scope="col">Round</th>
                  <th scope="col">At Bats</th>
                  <th scope="col">Runs</th>
                  <th scope="col">Hits</th>
                  <th scope="col">Home Runs</th>
                  <th scope="col">RBIs</th>
                  <th scope="col">Stolen Bases</th>
                  <th scope="col">Batting Avg</th>
              </tr></thead>
              <tbody>
                {% for stint in batting %}<tr>
                    <th scope="row">{{ stint.yearID }}</th>
                    <td>{{ stint.teamID }}</td>
                    <td>{{ stint.round }}</td>
                    <td>{{ stint.AB }}</td>
                    <td>{{ stint.R }}</td>
                    <td>{{ stint.H }} </td>
                    <td>{{ stint.HR }}</td>
                    <td>{{ stint.RBI }} </td>
                    <td>{{ stint.SB }} </td>
                    <td>{{ "{:.3f}".format(stint.H/stint.AB,2) }} </td>
                </tr>{% endfor %}
                <tr class="table-success"><th scope="row" colspan="3">{{ postBatting[0][1] }} Years ({{ postBatting[0][0] }} Series)</th>
                <th>{{ careerBatting[0][0] }}</th>
                <th>{{ careerBatting[0][1] }} </th>
                <th>{{ careerBatting[0][2] }}</th>
                <th>{{ careerBatting[0][3] }} </th>
                <th>{{ careerBatting[0][4] }} </th>
                <th>{{ careerBatting[0][5] }} </th>
                <th>{{ "{:.3f}".format(careerBatting[0][2]/careerBatting[0][0],2) }} </th></tr>
              </tbody>
            </table>
        {% endif %}


        {% if appearances[0][0]/appearances[0][2] > 3 %}
            <h6>Career Postseason Pitching Stats</h6>
            <table class="table table-striped">
              <thead><tr>
                  <th scope="col">Year</th>
                  <th scope="col">Team</th>
                  <th scope="col">Round</th>
                  <th scope="col">Wins</th>
                  <th scope="col">Losses</th>
                  <th scope="col">ERA</th>
                  <th scope="col">Innings Pitched</th>
                  <th scope="col">Strike Outs</th>
                  <th scope="col">WHIP</th>
              </tr></thead>
              <tbody>
                {% for stint in pitching %}<tr>
                    <th scope="row">{{ stint.yearID }}</th>
                    <td>{{ stint.teamID }}</td>
                    <td>{{ stint.round }}</td>
                    <td>{{ stint.W }}</td>
                    <td>{{ stint.L }} </td>
                    <td>{{ "{:.2f}".format(27*stint.ER/stint.IPouts,2) }}</td>
                    <td>{{ stint.IPouts//3 }}.{{ stint.IPouts%3 }} </td>
                    <td>{{ stint.SO }} </td>
                    <td>{{ "{:.3f}".format(3*(stint.BB + stint.H)/stint.IPouts,2) }} </td>
                </tr>{% endfor %}
                <tr class="table-success"><th colspan="3" scope="row">{{ postPitching[0][1] }} Years ({{ postPitching[0][0] }} Series)</th>
                <th>{{ careerPitching[0][0] }}</th>
                <th>{{ careerPitching[0][1] }} </th>
                <th>{{ "{:.2f}".format(27*careerPitching[0][4]/careerPitching[0][2],2) }}</th>
                <th>{{ careerPitching[0][2]//3 }}.{{ careerPitching[0][2]%3 }} </th>
                <th>{{ careerPitching[0][3] }} </th>
                <th>{{ "{:.3f}".format(3*(careerPitching[0][5] + careerPitching[0][6])/careerPitching[0][2],2) }} </th></tr>
              </tbody>
            </table>
        {% endif %}


    </div>
{% endblock %}