{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <h3 style="text-align: center">Hall of Fame</h3><br>
        <h5>Hall of Fame Inductees in {{ year }}</h5>
        <form method="POST" action="" class="d-flex">
            {{ form.hidden_tag() }}
            {{ form.changeYear(class="form-control me-2") }}
            {{ form.submit(class="btn btn-outline-success") }}
        </form>
        {% for error in form.changeYear.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
        <table class="table table-striped">
            <thead><tr>
                <th scope="col">Name</th>
                <th scope="col"># of Votes</th>
                <th scope="col">Voted By</th>
                <th scope="col">Category</th>
            </tr></thead>
            <tbody>
                {% for player in halloffame %}<tr>
                    <th scope="row">{{ player[0].nameFirst }} {{ player[0].nameLast }}</th>
                    <td>{% if player[1].votes == None %}
                        Not Known
                        {% else %}
                        {{ player[1].votes }}
                        {% endif %}
                    </td>
                    <td>{{ player[1].votedBy }}</td>
                    <td>{{ player[1].category }}</td>
                </tr>{% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}