<!-- Extend the base.html file -->
{% extends "base.html" %}

{% block content %}
    <div class="content-section">
    <!-- Check if the user is authenticated -->
        <h1 style="text-align: center">Team Standings for {{ year }}</h1><br>
        <h6>Change Year</h6>
        <form method="POST" action="" class="d-flex">
            {{ form.hidden_tag() }}
            {{ form.changeYear(class="form-control me-2") }}
            {{ form.submit(class="btn btn-outline-success") }}
        </form>
        <!-- The section that controls the division standings -->
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">
                <div>The <strong>{{ WSChamp[0][1].name }}</strong> won the <strong>World Series</strong> against the {{ WSChamp[0][2].name }}</div>
            </li>
            <li class="list-group-item list-group-item-light">
                <div>The <strong>{{ ALCS[0][1].name }}</strong> defeated the {{ ALCS[0][2].name }} in the <strong>ALCS</strong></div>
                <div>The <strong>{{ NLCS[0][1].name }}</strong> defeated the {{ NLCS[0][2].name }} in the <strong>NLCS</strong></div>
            </li>
            <li class="list-group-item list-group-item-light">
                <div>The <strong>{{ ALDS1[0][1].name }}</strong> defeated the {{ ALDS1[0][2].name }} in the <strong>ALDS</strong></div>
                <div>The <strong>{{ ALDS2[0][1].name }}</strong> defeated the {{ ALDS2[0][2].name }} in the <strong>ALDS</strong></div>
                <div>The <strong>{{ NLDS1[0][1].name }}</strong> defeated the {{ NLDS1[0][2].name }} in the <strong>NLDS</strong></div>
                <div>The <strong>{{ NLDS2[0][1].name }}</strong> defeated the {{ NLDS2[0][2].name }} in the <strong>NLDS</strong></div>
            </li>
            <li class="list-group-item list-group-item-light">
                <div>The <strong>{{ ALWC[0][1].name }}</strong> defeated the {{ ALWC[0][2].name }} in the <strong>AL Wild Card</strong></div>
                <div>The <strong>{{ NLWC[0][1].name }}</strong> defeated the {{ NLWC[0][2].name }} in the <strong>NL Wild Card</strong></div>
            </li>
        </ul>
    <br>
    <div class="row">
        <div class="col-sm-6">
        <h5>American League West</h5>
        <table class="table table-striped">
          <thead><tr>
              <th scope="col">Team</th>
              <th scope="col">Wins</th>
              <th scope="col">Losses</th>
              <th scope="col">PCT</th>
              <th scope="col">GB</th>
            </tr></thead>
          <tbody>
            {% for team in ALWest %}<tr>
              <th scope="row">{{ team.name }}</th>
              <td>{{ team.W }}</td>
              <td>{{ team.L }}</td>
              <td>{{ "{:.3f}".format(team.W/team.G,2) }}</td>
              <td>{{ ((ALWestWL[0].W - team.W) + (team.L - ALWestWL[0].L))/2 }}</td>
            </tr>{% endfor %}
          </tbody>
        </table>
        </div>
        <div class="col-sm-6">
        <h5>National League West</h5>
        <table class="table table-striped">
          <thead><tr>
              <th scope="col">Team</th>
              <th scope="col">Wins</th>
              <th scope="col">Losses</th>
              <th scope="col">PCT</th>
              <th scope="col">GB</th>
            </tr></thead>
          <tbody>
            {% for team in NLWest %}<tr>
              <th scope="row">{{ team.name }}</th>
              <td>{{ team.W }}</td>
              <td>{{ team.L }}</td>
              <td>{{ "{:.3f}".format(team.W/team.G,2) }}</td>
              <td>
                {{ ((NLWestWL[0].W - team.W) + (team.L - NLWestWL[0].L))/2 }}
              </td>
            </tr>{% endfor %}
          </tbody>
        </table>
    </div></div>
    <div class="row">
        <div class="col-sm-6">
        <h5>American League East</h5>
        <table class="table table-striped">
          <thead><tr>
              <th scope="col">Team</th>
              <th scope="col">Wins</th>
              <th scope="col">Losses</th>
              <th scope="col">PCT</th>
              <th scope="col">GB</th>
            </tr></thead>
          <tbody>
            {% for team in ALEast %}<tr>
              <th scope="row">{{ team.name }}</th>
              <td>{{ team.W }}</td>
              <td>{{ team.L }}</td>
              <td>{{ "{:.3f}".format(team.W/team.G,2) }}</td>
                <td>{{ ((ALEastWL[0].W - team.W) + (team.L - ALEastWL[0].L))/2 }}</td>
            </tr>{% endfor %}
          </tbody>
        </table>
        </div>
        <div class="col-sm-6">
        <h5>National League East</h5>
        <table class="table table-striped">
          <thead><tr>
              <th scope="col">Team</th>
              <th scope="col">Wins</th>
              <th scope="col">Losses</th>
              <th scope="col">PCT</th>
              <th scope="col">GB</th>
            </tr></thead>
          <tbody>
            {% for team in NLEast %}<tr>
              <th scope="row">{{ team.name }}</th>
              <td>{{ team.W }}</td>
              <td>{{ team.L }}</td>
              <td>{{ "{:.3f}".format(team.W/team.G,2) }}</td>
               <td>{{ ((NLEastWL[0].W - team.W) + (team.L - NLEastWL[0].L))/2 }}</td>
            </tr>{% endfor %}
          </tbody>
        </table>
    </div></div>
    <div class="row">
        <div class="col-sm-6">
        <h5>American League Central</h5>
        <table class="table table-striped">
          <thead><tr>
              <th scope="col">Team</th>
              <th scope="col">Wins</th>
              <th scope="col">Losses</th>
              <th scope="col">PCT</th>
              <th scope="col">GB</th>
            </tr></thead>
          <tbody>
            {% for team in ALCentral %}<tr>
              <th scope="row">{{ team.name }}</th>
              <td>{{ team.W }}</td>
              <td>{{ team.L }}</td>
              <td>{{ "{:.3f}".format(team.W/team.G,2) }}</td>
              <td>{{ ((ALCentralWL[0].W - team.W) + (team.L - ALCentralWL[0].L))/2 }}</td>
            </tr>{% endfor %}
          </tbody>
        </table>
        </div>
        <div class="col-sm-6">
            <h5>National League Central</h5>
            <table class="table table-striped">
            <thead><tr>
              <th scope="col">Team</th>
              <th scope="col">Wins</th>
              <th scope="col">Losses</th>
              <th scope="col">PCT</th>
              <th scope="col">GB</th>
            </tr></thead>
          <tbody>
            {% for team in NLCentral %}<tr>
              <th scope="row">{{ team.name }}</th>
              <td>{{ team.W }}</td>
              <td>{{ team.L }}</td>
              <td>{{ "{:.3f}".format(team.W/team.G,2) }}</td>
              <td>{{ ((NLCentralWL[0].W - team.W) + (team.L - NLCentralWL[0].L))/2 }}</td>
            </tr>{% endfor %}
          </tbody>
        </table>
        </div>
    </div>
    </div>
{% endblock %}